@import '../../../styles.scss';

$size:700px;
$size2: 1000px;
$size3: 1200px;

@mixin size ($val) {
    @media screen and (min-width: #{$val}){
        @content;
    }
}
.header-title {
    font-size: 1.4rem;
}
.mainContainer {
    margin-top: -23px;
}
hr {
    width: 80%;
}

.container-columns {
    @include display-flex(flex, row , space-around, center);
    align-items: flex-start;
    width: 100%;
    .column 
        .tittle p {
        text-align: center;
        font-size: 1.3rem;
    }
    .column .users {
        align-items: center;
        height: 100px;
        padding: 50px 5px;
        display: grid;
        column-gap: 15px;
        row-gap: 0px;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        "pic-profile name-follow"
        "pic-profile icon"
        "pic-profile follow";
        .pic-profile {
            grid-area: pic-profile;
            height: 80x;
            img {
                height: 45px;
                width: 60px;;
                border-radius: 100%;
                @include size($size) {
                    height: 50px
                }
                @include size($size2) {
                    height: 60px
                }
            }
        }
        .name {
            grid-area: name-follow;
            font-weight: bold;
            font-size: 0.9rem;            
        }
        .icon {
            display: flex;
            padding-bottom: 10px;
            svg {
                height: 15px;
                text-align: left;
                
            }   
        }
        .follow {
            grid-area: follow;
            font-size: 0.9rem;  
            margin-top: -5px;
        }
    }
}


.color-hat {
    fill:var(--brand-color) !important;
}