@import '../../../styles.scss';

.main-container {
    @include display-flex(flex, column , space-around, center);
    .profileUser{
        padding: 50px 0px;
        text-align: center;
        .img-profile {
            padding-bottom: 20px;
        }
        img {
            border-radius: 100%;
            width: 150px;
            
        }
        .followers-number {
            align-items: center;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "followers followed";
            .followers {
                grid-area: followers;
                text-align: center;
            }
            .followed {
                grid-area: followed
            }
        }
        .icon {
            margin-top: -45px;
            padding-bottom: 10px;
            svg {
                height: 20px !important;
                padding-left: 5px;
            }      
        }
    }
}

.container-columns {
    @include display-flex(flex, row , space-around, center);
    padding-top: 50px;
    width: 100%;
    .column 
        .tittle p {
        text-align: center;
        font-size: 1.3rem;
    }
    .column .users {
        height: 100px;
        padding: 50px 5px;
        display: grid;
        column-gap: 15px;
        row-gap: 0px;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        "pic-profile name-follow"
        "pic-profile icon"
        "pic-profile follow";
        .pic-profile {
            grid-area: pic-profile;
            height: 80x;
            img {
                height: 40px;
                border-radius: 100%;
            }
        }
        .name {
            grid-area: name-follow;
            font-weight: bold;
            font-size: 0.9rem;            
        }
        .icon {
            grid-area: icon;
            margin-top: -15px;
            padding-bottom: 10px;
            height: fit-content ;
            svg {
                height: 15px;
            }  
            svg:nth-child(n+2) {
                padding-left: 5px;
            }    
        }
        .follow {
            grid-area: follow;
            font-size: 0.9rem;  
            margin-top: -5px;
        }
    }
}
