<div class="container">
    <div class="title-recipe">
        <p class = "animated fadeIn"><strong>Cookies de harina de arroz y limón</strong> </p><br>
        <p>
            Fácil -
            <i class="fas fa-utensils"></i> 8 unidades -
            <i class="far fa-clock"></i> 20 min.
        </p>
   </div>
   <hr>
    <div class ="row">
        <div class="col-m-4">
             <img src ="assets/img/cookies.jpg" class="img-fluid" [alt]="">
            <br>
            <br>
            <button class="btn btn-outline-info btn-block">Regresar</button>
        </div>
        <br>
        <div class="col md-8">
           <!-- <p> <strong>Cookies de harina de arroz y Limón</strong></p>
            <hr>-->
            <p><strong>Ingredientes:</strong></p>
            <ul>
                <li>1/2 taza de harina de arroz integral</li>
                <li>1/2 taza de harina de coco</li>
                <li>1 huevo</li>
                <li>1/4 taza de leche desnatada o vegetal</li>
                <li>Ralladura de 1 limón</li>
                <li>Esencia de vainilla</li>
                <li>Endulzante</li>
                <li>1 cdita. de polvo para hornear</li>
                <li>1 pizca de sal </li>
            </ul>
            <p> <strong>Preparación:</strong></p>
            <ol>
                <li> Precalentar el horno a 180 grados.</li>
                <li>Mezclar todos los ingredientes y formar las galletas.</li>
                <li>Engrasar una plaza para horno con aceite en spray y distribuirlas.</li>
                <li>Hornear por 10 min aproximadamente.</li>
            </ol>
        </div>
    </div>
    <div class="comment-container">
        <button class="btn btn-outline-info btn-block">Deja tu comentario</button>
        <button class="btn btn-outline-info btn-block">Califica esta receta</button>
    </div>
</div>