@import '../../../styles.scss';
.container{
  width: 90%;
  border:none;
  .header-title {
    padding-top: 50px;
  }
  .title-recipe{
      text-align: center;
  }
  .row img {
    width: 100%;
    padding-bottom: 20px;

  }
  .userComment{
    padding-bottom: 40px;
    margin:2.5%;
    width: 45%;
      .userFavRecipe{
          align-items:center ;
          display: flex;
          flex-direction: row;          
          margin-bottom: 5px;
          img{
              width: 40px;
              height: 40px;
              border-radius: 100%;
              margin-right: 7px;
          }
          .profileOther{
              font-weight: bold;
              font-size:1rem
          }
          a:nth-child(1){
              padding-right: 15px;
          }
      }
  }
}
.icon {
  display: flex;
  justify-content: center;
  svg {
      height: 20px ;
      padding-left: 10px;
      margin-bottom: 5px;
  }
}
hr{
  width: 100%;

}
.comment-container{
  padding: 50px 20%;
  width: 100%;
  
    h4{
      font-size: 1rem;
      text-align: center;
      margin-bottom: 4%;
    }
  
  button {
    background-color: white;
    border: 1px solid var(--brand-color) ;
    color: var(--brand-color) ;
    font-weight: bold;
  }
 
}

@media only screen and (max-width: 768px) {
      /* For mobile phones: */
  [class*="col-"] {
        width: 100%;
  }
  img{
      padding: 5px;
      margin-top: 10px;
      align-items: center;
  }
  button{
      width: 100%;
    
  }
  .receta{
      margin-top: 15px;
  }
  .userComment{
    width: 100% !important;
  }
}


.arrow svg{
  margin-left: 40px;

}

