@import '../../../styles.scss';
.container{
  width: 90%;
  border:none;
  .header-title {
    padding-top: 50px;
  }
  .title-recipe{
      text-align: center;
  }
}
.icon {
  display: flex;
  justify-content: center;
  svg {
      height: 20px ;
      padding-left: 10px;
      margin-bottom: 5px;
  }
}
.comment-container{
  margin-top: 80px;
  button {
    background-color: white;
    border: 1px solid var(--brand-color) ;
    color: var(--brand-color) ;
    font-weight: bold;
  }
 
}

@media only screen and (max-width: 768px) {
      /* For mobile phones: */
  [class*="col-"] {
        width: 100%;
  }
  img{
      padding: 5px;
      margin-top: 10px;
      align-items: center;
  }
  button{
      width: 90%;
      margin-left: 15px;
      padding-left:5px;
  }
  .receta{
      margin-top: 15px;
  }
}


.arrow svg 
{
  display: block;
  width: 40px;
  fill:  var(--brand-hover);
  transition: transform 1s ease;
  margin-left: 20px;
  &:hover {
    transform: scale(1.2);
  
  }
}

