@import '../../../styles.scss';

.container{
  width: 90%;
  border:none;
  .header-title {
    padding-top: 50px;
  }
  .title-recipe{
      text-align: center;
  }
  .row img {
    width: 100%;
    padding-bottom: 20px;

  }
}
.icon {
  display: flex;
  justify-content: center;
  
  svg {
      height: 20px ;
      padding-left: 10px;
      margin-bottom: 5px;
  }
}

.dateRecipe{
  padding-top:3% ;
  text-align: right;
  color: grey;
}

hr{
  width: 100%;

}
.comment-container{
  padding: 50px 20%;
  width: 100%;
  
    h4{
      font-size: 1rem;
      text-align: center;
      margin-bottom: 4%;
    }
      
  button {
    background-color: white;
    border: 1px solid var(--brand-color) ;
    color: var(--brand-color) ;
    font-weight: bold;
  }
 
}

.bothComments{
  display:grid;
  grid-template-columns: 50% 50%;
  .userComment{
   margin-top: 7%;
    width: 90%;
      .userFavRecipe{
          align-items:center ;
          display: flex;
          flex-direction: row;          
          margin-bottom: 5px;
          .profileOther{
              font-weight: bold;
              font-size:1rem
          }
          a:nth-child(1){
              padding-right: 15px;
          }
      }
  }

}

@import '../../../styles.scss';

//update reciperecipe
.descrp{
    visibility:  hidden;
    display: flex;;
    width: 500px;
    top: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #9DDAC9;
    transition: opacity .24s ease-out;
    position: absolute;
    flex-direction: column;
    align-items: center;
    hr {
      width: 90%;
      color: var(--brand-color);
      border: 1px solid var(--brand-color);
      justify-content: left;
  }
  form {
    width: 90%;
    padding-bottom: 20px;
  }
  input, textarea {
    background: white !important;
  }
  .radio-group,
  .form-group {
    display: block;
    text-align: center;
    p:nth-child(1) {
      font-size:0.8rem;
      text-align: left;
      margin-bottom: 2px;
    }
  }
  .food,
  .dificulty {
    display: flex;
    justify-content: space-around;
    input {
      margin-left: 80px !important;
    }
  }
  .btn {
    display: flex;
    justify-content: space-around;
    a {
      width: 30%;
      color: white !important;
    }
    button {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 768px) {
      /* For mobile phones: */
  [class*="col-"] {
        width: 100%;
  }
  img{
      padding: 5px;
      margin-top: 10px;
      align-items: center;
  }
  button{
      width: 100%;
    
  }
  .receta{
      margin-top: 15px;
  }
  .bothComments{
      grid-template-columns:100% ;
      .userComment{
      width: 100%;
      align-content: center;
      }
  }
  .comment-container{
 
  padding: 0 1% 0 1%;
    width: 100%;
    
  }
}

.arrow svg{
  margin-left: 40px;

}

