.header-title {
    padding-top:50px;
}
.card{
    border: none;
}
.row{
    img{
        width: 100%;
        height: 350px;
    }
}
.icon {
    margin-top: -45px;
    padding-bottom: 10px;
        svg {
            height: 5px !important;
        }      
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
    opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
}
