@import '../../../styles.scss';

$size:990px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

.nav-bar {
    @include display-flex(flex, "" , space-around, center);
    height: 60px;
    width: 90%;
    font-size: 1.07rem;
    margin: 0 auto;
    hr {
        width: 100%;
    }
    @include size {
        padding: 0px 0px;
    }
    .logo {
        img {
            height:60px;
        }
    }
    .tabs {
        width: 75%;
        @include display-flex(flex, row , space-around, center); 
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 120px;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin-bottom: 5px;
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        } 
        .nav-link:nth-child(1):nth-child(-n-3) {
            margin-left: 40px !important; 
        }    
    }  
    a  {
        color: var(--brand-color);
        img {
            height: 35px;
            transition: transform 0.7s ease;
            &:hover {
                opacity: 0.7;
                transform: scale(1.1);
            }
            @include size {
                height: 25px;
            }
        }  
    } 
}

.nav-bar >.profile-edit > .edit{
    visibility: hidden;
    height: 400px;
    width: 400px;
    top: 100px;
    right: 8%;
    z-index: 1; 
    background-color: #9ddac9;
    transition: opacity .24s ease-out;
    position: absolute;
    .header-title {
        padding: 10px;
        text-align: center;
        hr {
            width: 90%;
            color: var(--brand-color);
            border: 1px solid var(--brand-color);
            justify-content: left;
        }
    }
    .container {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "email input",
        "phone input",
        "password input",
        ". remove";
        .photo img {
            border-radius: 100%;
            height: 55px;
            width: 55px;
            margin-left:10px;
        }
        .text{
            padding-top:4px;
            font-size: 0.9rem;
        }
        .details{
            line-height: 10px;
            align-items: center;
            font-size: 0.9rem;
            padding-top:12px;
        }
        .input input {      
            background: white;
            padding: 4px;
            border: none

        }
        .remove {
            color:var(--brand-color);
            text-align: right ;
            
            :hover {
                cursor: pointer;
                color: black;
            }
        }
        .remove:last-of-type {
            padding-right: 20px;
        }
    }
}  



