<nav class="nav-bar">
    <div class="logo">
    
        <a routerLink="userRecipes"><img src="../../../assets/img/logo.png" alt="logo"></a>

    </div>

    <div class="tabs">

        <div>
            <a class="nav-link" routerLink="/lessons"><img src="../../../assets/img/class.png"></a>	
        </div>

        <div>
            <a class="nav-link" routerLink="/searchRecipe"><img src="../../../assets/img/lupa.png"> </a>	
        </div>

        <div class="dropdown">
            <div>
                <a class="nav-link"><img src="../../../assets/img/plus.png"></a>	
            </div>
            <div class="dropdown-content">
                <a class="nav-link" routerLink="/publishRecipe">Receta</a>	
                <a class="nav-link" routerLink="/publishClass">Clase</a>	
            </div>
        </div>

    </div>

    <div class="profile-edit" >

        <a (click)="show()"><img src="../../../assets/img/settings.svg"></a>

        <div class="edit" id="edit-profile" [ngClass]= "{'animation': animation == true}"  >
            <div class="header-title">
                <p>Editar Perfil</p>
                <hr>
            </div>
           
            
            <form div class="container"> 
                <div class=" text photo">
                    <img [src]="profileUser.picture" [alt]="picture">
                </div>        
                <div class="input details">
                    <p>{{profileUser.user_name}}</p>
                 
                    
                </div>

                <div class="text password">
                    <p>Contraseña</p>
                </div>
        
                <div class="input">
                    <div>
                        <input type="text" name="contraseña" #password required  placeholder="Cambiar contraseña">
                    </div>
                </div>

                
                <div class=" text email">
                    <p>Email</p>
                </div>
        
                <div class="input">
                    <div>
                        <input type="text" name="email" #email required  placeholder="Cambiar email">
                    </div>
                </div>
        
        
                <div class="text picture">
                    <p>Imagen de Perfil</p>
                </div>
        
                <div class="input">
                    <div>
                        <input type="text" name="picture" #picture required  placeholder="Cambiar foto">
                    </div>
                </div>
        
                
                <div class="input">
                    <div>
                        <button type="button" (click)= "editProfile(password.value, email.value, picture.value)"> Guardar</button>
                    </div>
                </div>
                <div class="remove">
                    <p>Eliminar cuenta</p>
                </div>
                <div class="remove">
                    <a routerLink="/welcome" (click)="show()">Cerrar sesión</a>
                </div>
              
            </form>
        
        </div>
       
    </div>
    
</nav>

<hr>
