<nav class="nav-bar">
    <div class="logo">
    
        <a routerLink="userRecipes"><img src="../../../assets/img/logo.png" alt="logo"></a>

    </div>

    <div class="tabs">

        <div>
            <a class="nav-link" routerLink="/lessons"><img src="../../../assets/img/class.png"></a>	
        </div>

        <div>
            <a class="nav-link" routerLink="/searchRecipe"><img src="../../../assets/img/lupa.png"> </a>	
        </div>

        <div class="dropdown">
            <div>
                <a class="nav-link" routerLink="/receipe"><img src="../../../assets/img/plus.png"></a>	
            </div>
            <div class="dropdown-content">
                <a class="nav-link" routerLink="/publishRecipe">Receta</a>	
                <a class="nav-link" routerLink="/publishClass">Clase</a>	
            </div>
        </div>

    </div>

    <div class="profile-edit" >

        <a (click)="show()"><img src="../../../assets/img/settings.svg"></a>

        <div class="edit" id="edit-profile" [ngClass]= "{'animation': animation == true}"  >
            <div class="header-title">
                <p>Editar Perfil</p>
                <hr>
            </div>
           
            
            <form div class="container"> <!--Hay que añadir NgModel y #name-->
                <div class=" text photo">
                    <img src="../../../assets/img/logo.png" alt="profile-img" class ="userPic" >
                </div>        
                <div class="input details">
                    <p>Nombre usuario</p>
                    <p>Cambiar foto</p>
                    
                </div>
        
                <div class=" text email">
                    <p>Email</p>
                </div>
        
                <div class="input">
                    <div>
                        <input type="text" name="email" required  placeholder="Cambiar email">
                    </div>
                </div>
        
                <div class="text phone">
                    <p>Teléfono</p>
                </div>
        
                <div class="input">
                    <div>
                        <input type="text" name="telefono" required  placeholder="Cambiar teléfono">
                    </div>
                </div>
        
                <div class="text password">
                    <p>Contraseña</p>
                </div>
        
                <div class="input">
                    <div>
                        <input type="text" name="contraseña" required  placeholder="Cambiar contraseña">
                    </div>
                </div>

                
                    <div>
                        <p>Eliminar cuenta</p>
                    </div>
              
            </form>
        
        </div>
       
    </div>
    
</nav>

<hr>
