<nav class="nav-bar">
    <div class="logo">
    
        <a routerLink="/"><img src="../../../assets/logo.png" alt="logo"></a>

    </div>

    <div class="tabs">

        <div>

            <a class="nav-link" routerLink="/clases">Clases</a>	

        </div>

        <div>

            <a class="nav-link" routerLink="/receta">Buscar receta</a>	

        </div>

        <div>

            <a class="nav-link" routerLink="/publicar">Publicar+</a>	
    
        </div>

    </div>

    <div>

        <a routerLink="/"><img src="../../../assets/settings.svg" height=35px alt="settings"></a>

    </div>

</nav>