@import '../../../styles.scss';

$size:991px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

.nav-bar {
    width: 100vw;
    background-color: white;
    @include display-flex(flex, "" , space-between, center);
    height: 80px;
    padding: 0px 40px;
    font-size: 1.07rem;
    @include size {
        padding: 0px 20px;
    }
    .logo {
        img {
            height:45px;
        }
    }
    .tabs {
        width: 75%;
        @include display-flex(flex, row ,space-between, center); 
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
          }
    }     
}