@import '../../../styles.scss';

$size:990px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

.nav-bar {
    background-color: white;
    @include display-flex(flex, "" , space-around, center);
    height: 80px;
    width: 90%;
    font-size: 1.07rem;
    margin: 0 auto;
    @include size {
        padding: 0px 0px;
    }
    .logo {
        img {
            height:45px;
            @include size {
                height: 35px;
            }
        }
    }
    .tabs {
        width: 75%;
        @include display-flex(flex, row , space-around, center); 
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin-bottom: 5px;
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        } 
        .nav-link:nth-child(1):nth-child(-n-3) {
            margin-left: 40px !important; 
        }
       
    }  
    a img {
        height: 35px;
        @include size {
            height: 25px;
        }
    }   

}
.nav-bar >.profile-edit > .edit{
    visibility: hidden;
    height: 400px;
    width: 300px;
    top: 80px;
    right: 8%;
    z-index: 1; 
    background-color: white;
    transition: opacity .24s ease-out;
    position: absolute;
    .header-title {
        padding: 10px;
        font-weight: bold;
    }
    .container {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "email input",
        "phone input",
        "password input";
        .text{
            padding-top: 8px;
        }
        .input input {
            width: 80%;
            background: white;
            padding: 10px;
            border: 1px solid black
        }
    }
}  

.show{
    visibility: visible;
  
} 




