@import '../../../styles.scss';

$size:990px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

.nav-bar {
    @include display-flex(flex, "" , space-around, center);
    height: 60px;
    width: 90%;
    font-size: 1.07rem;
    margin: 0 auto;
    hr {
        width: 100%;
    }
    @include size {
        padding: 0px 0px;
    }
    .logo {
        img {
          
            height:55px;
        }
    }
    .tabs {
        width: 75%;
        @include display-flex(flex, row , space-around, center); 
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 120px;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin-bottom: 5px;
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        } 
        .nav-link:nth-child(1):nth-child(-n-3) {
            margin-left: 40px !important; 
        }
        .nav-link_lesson{
            img {
                height:100px;
            }

        } 
    
    }  
    a  {
        color: var(--brand-color);
        img {
            height: 35px;
            transition: transform 0.7s ease;
            &:hover {
                opacity: 0.7;
                transform: scale(1.1);
            }
            @include size {
                height: 25px;
            }
        }  
    } 
}

.nav-bar >.profile-edit > .edit{
    visibility: hidden;
    height: 450px;
    width: 400px;
    top: 100px;
    right: 8%;
    z-index: 1; 
    background-color: #9ddac9;
    transition: opacity .24s ease-out;
    position: absolute;
    .header-title {
        padding: 20px 10px;
        text-align: center;
        hr {
            width: 90%;
            color: var(--brand-color);
            border: 1px solid var(--brand-color);
            justify-content: left;
        }
    }
    .container {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "email input",
        "phone input",
        "password input",
        ". remove";
        .photo img {
            border-radius: 100%;
            height: 55px;
            width: 55px;
            margin-left:10px;
        }
        .text{
            padding-top:4px;
            font-size: 0.9rem;
        }
        .details{
            line-height: 10px;
            align-items: center;
            font-size: 1rem;
            padding-top:12px;
            font-weight: bold;
        }
        .input input {      
            background: white;
            padding: 4px;
            border: none;
            color: grey;
            font-size: 0.9rem;

        }
        .remove {
            color:var(--brand-color);
            text-align: right;
            font-size: 0.9rem;
            padding-top: 5%;
            a {
                display: block
            }
            :hover {
                cursor: pointer;
                color: black;
            }
        }
        .remove:last-of-type {
            padding-right: 20px;
        }
        .delete{
            a{
                color: rgba(128, 128, 128, 0.781) !important;
            }
            font-size:0.8rem;
            padding-top: 5%;
            text-align: right;
        }
        
    }
}  
// popup delete
.descrp{
    visibility: hidden;
    height: 300px;
    width: 400px;
    bottom: 0;
    top:0;
    background-color:var(--brand-color);
    transition: opacity .24s ease-out;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 5;
    .header-title{
        font-size: 2rem;
        color: white;
        margin-top: 5px;
        padding-bottom: 30px;
        hr{
            border: 1px solid white;
            width: 90%;
        }
        .window a{
            margin-left: 80%;
            margin-top: 5px;
            font-size: 1.3rem;
            color: white !important;
        }
    }
    .container-text{
        font-size: 1rem;
        color: white;
        text-align: center;
        padding-left: 20px;
        padding-right:20px;
        margin-top:5px;
    }
    .container-data {
        display: flex;
        justify-content:  space-around;
        a {
            padding: 10px 20px;
            transition: opacity .9s ease-out;
            background-color: white;
            color: var(--brand-color) !important;
        }
        :hover {
            color: grey;
            opacity: 0.9;
        }
    }

}



