<div class="edit">
    <div class="header-title">
        <p>Editar Perfil</p>
    </div>
    
    <form div class="container"> <!--Hay que añadir NgModel y #name-->

        <div class=" text email">
            <p>Email</p>
        </div>

        <div class="input">
            <div>
                <input type="text" name="dificultad" required  placeholder="Cambiar email">
            </div>
        </div>

        <div class="text phone">
            <p>Teléfono</p>
        </div>

        <div class="input">
            <div>
                <input type="text" name="dificultad" required  placeholder="Cambiar teléfono">
            </div>
        </div>

        <div class="text password">
            <p>Contraseña</p>
        </div>

        <div class="input">
            <div>
                <input type="text" name="dificultad" required  placeholder="Cambiar contraseña">
            </div>
        </div>
    </form>

</div>