@import '../../../styles.scss';

.mainContainer{
    padding: 25px;
}
.profileUser{
    padding: 0px 0px;
    text-align: center;
    .user-name {
        font-size: 1.5rem;

    }
    .img-profile {
        padding-bottom: 8px;
    }
    img {
        border-radius: 100%;
        width: 130px;                
    }
    .followers-number {
        justify-content: center;
        padding-bottom: 30px;
        display: grid;
        grid-template-rows: 0fr 0fr;
        grid-template-areas: 
        "followers followed";
        .followers {
            grid-area: followers;
            text-align: center;
            
        }
        .followed {
            grid-area: followed;
            padding-left: 50px;
        }
    }
   
}
hr{
    width:80%;
}
.class{
    @include display-flex(flex, column , center, center);
        
}
.details{
    @include display-flex(flex, row , center, center);
    width:80%;
    p{
        line-height: 40px;
        margin-left: 150px;
    }
    button{
        margin-left: 150px;
        width: 50%;
    }
}
.materials{
    padding-top: 50px;
    p{
        text-align: center;
    }
}
@media screen and (max-width: 800px){
    .details{
        flex-direction:column;
        width:90%;
        align-items: center;
        img {
            width: 100%;
        }
        p{
            margin-left: 0px;
        }
        button{
            margin-left: 0px;
            width:100%;
        }
    }
}
