<div class="mainContainer">
    <div class="profileUser">       
        <div class=img-profile>
            <img src="../../../assets/img/sushi.jpeg" alt="profile-img" class ="userPic" >
        </div>
        <div class="user-name">
          <p>user_name</p>
        </div>
        <div class="followers-number">
            <div class="followers">
                <a routerLink="/followers">Seguidores (3)</a>
            </div>
            <div class="followed">
                <a routerLink="/followers">Seguidos (19)</a>
            </div>
        </div>
 </div>

<hr>
<div class="class">
        <div class ="details">
            <div>
                <img src ="assets/img/sushi.jpeg"  [alt]="">
            </div>
            <div>
                <p>
                    <a>Fecha: 25-OCT-20</a><br>
                    <a>Horario: 18 a 20 hs.</a><br>
                    <a>Dificultad: Media</a><br>
                    <a>Precio: €15</a>
                </p>
                <button class="btn btn-outline-info btn-block">Comprar</button>
            </div>
        </div>
        <div class = "materials">
            <p> <strong>Lo que vas a necesitar:</strong></p>
            <ul>
                <li>Arroz para sushi, 1 vaso grande</li>
                <li>Agua, 1 vaso grande (*)</li>
                <li>Vinagre de arroz, 75 ml (**)</li>
                <li>Azúcar, 3 cucharadas  (**)</li>
                <li>Sal, 1 cucharadita  (**)</li>
                <li>Alga nori deshidratada, 2 láminas</li>
                <li>Zanahoria, 1</li>
                <li>Pepino, ½</li>
                <li>Aguacate, ½</li>
                <li>Salmón, 150 g (***)</li>
                <li>Wasabi (****)</li>
                <li>(*) Opcionales</li>
            </ul>
        </div>
</div>