@import '../../../styles.scss';

textarea,
select {
    width: 100%;
}
.profile-edit {
    width: 40%;
    display: flex;
    justify-content: center;
}

.descrp{
    visibility:  hidden;
    height: 200px;
    width: 45   0px;
    top: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #9DDAC9;
    transition: opacity .24s ease-out;
    position: absolute;
    .header-title{
        font-size: 2rem;
        color: black;
        padding-top:10px;
        margin-top: 5px;
        hr{
            border: 1px solid var(--brand-color);
            width: 90%;
        }
        .window a{
            margin-left: 80%;
            margin-top: 5px;
            font-size: 1.3rem;
            color: var(--brand-color);
        }
    }
    .container-text{
        font-size: 1rem;
        color: black;
      
        padding-left: 20px;
        padding-right:20px;
        margin-top:10px;
    }
}

.button {
    background-color: white;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
    font-weight: bold;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        background-color: var(--brand-color);
        color: white;
    }
}

//radio-buttons dificulty
.radio-group {
    .dificulty {
       display: flex;
       justify-content: space-evenly;
        width: 100%;   
    }
    .dificulty {
        .outer-circle-left,
        .outer-circle-right{
            left: 5px !important;     
        }
        .outer-circle-middle{
            left: 8px; 
        }
    }
}


