<div class="main-container-forms">
    <div class="header-title">
        <p>Publicar clase</p>
    </div>
   <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
            <div class="fields">
                <input type="text" name="titulo"  placeholder="Titulo" formControlName="titulo" [class.is-invalid]= "formNoValidTitle">
                <small *ngIf="formNoValidTitle" class="text-danger">Ingresa un titulo con al menos 5 letras</small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="date" name="fecha"  placeholder="Fecha" formControlName="fecha" [class.is-invalid]="formNoValidDate">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="horario" placeholder="horario" formControlName="horario" [class.is-invalid]="formNoValidTime">
                <small *ngIf="formNoValidTime" class="text-danger">Ingresa un horario valido</small>
            </div>
        </div>
        <div class="form-group">
            <select name="difficulty" formControlName="dificultad">
                <option value="" hidden> Dificultad</option>
                <option  [ngValue]="item.value3" *ngFor ="let item of dificultyLevels; let i = index">{{item}}</option>
              </select>
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="precio"  placeholder="Precio" formControlName="precio" [class.is-invalid]="formNoValidPrice">
                <small *ngIf="formNoValidPrice" class="text-danger">Añade el precio de la clase</small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <textarea type="text" name="ingredientes" placeholder="Ingredientes" formControlName="ingredientes"[class.is-invalid]="formNoValidIngredients"></textarea>
                    <small *ngIf="formNoValidIngredients" class="text-danger">Añade los ingredientes</small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <textarea type="textarea" name="descripcion"  placeholder="Descripción" formControlName="descripcion" [class.is-invalid]="formNoValidDescription"></textarea>
                    <small *ngIf="formNoValidDescription" class="text-danger">Añade una descripción de mínimo 20 caracteres</small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="foto" placeholder="Foto" formControlName="foto"[class.is-invalid]="formNoValidPhoto">
                <small *ngIf="formNoValidPhoto" class="text-danger">Añade una foto</small>
            </div>
        </div>
        <button >Publicar</button>
    </form>
</div>
<div class="descrp" id="sucess" [ngClass]= "{'animation': animation == true}">
    <div class="header-title">
        <div class="window">
            <a (click)="show()">X</a>
        </div>
        <p>Cook Book</p>
        <hr>
       <div class ="container-text">
            <p>Tu clase se ha publicado!</p>
        </div>
    </div>
</div>
