<div class="main-container">
    <div>
        <h2>Publicar clase</h2>
    </div>
   <form  novalidate> <!--Añadir validaciones, importante fecha-->
        <div class="form-group">
            <div class="fields">
                <input type="text" name="titulo" minlength="3" required placeholder="Titulo">
            </div>    
        </div>
        <div class="form-group">
            <div>
                <input type="date" name="fecha" required  placeholder="Fecha">
            </div>    
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="horario" required  placeholder="horario">
            </div>    
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="dificultad" required  placeholder="Dificultad">
            </div>    
        </div>

        <div class="form-group">
            <div>
                <input type="text" name="precio" required  placeholder="Precio">
            </div>    
        </div>

        <div class="form-group">
            <div>
                <input type="text" name="ingredientes" required  placeholder="ingredientes">
            </div>    
        </div>

        <div class="form-group">
            <div>
                <input type="textarea" name="descripcion" required  placeholder="Descripción">
            </div>    
        </div>

        <div class="form-group">
            <div>
                <input type="text" name="foto"  required  placeholder="Foto">
            </div>    
        </div>

        <button>Publicar</button>

    </form>
</div>
