@import '../../../styles.scss';

.main-container{
    position: relative;
}

img{
    padding-top: 50px;
}

.container-data{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top:40px;
    .container-inicio {
        border-right: 1px solid black;
    }
}
.container-data a{
    font-size:1.3rem;
    margin:15px;
    
}
    
.descrp{
    visibility: hidden;
    height: 450px;
    width: 500px;
    top: 50px;
    background-color: #9ddac9;
    transition: opacity .24s ease-out;
    position: absolute;
    

    .header-title{
        font-size: 2rem;
        color: black;
        margin-top: 5px;
        padding-bottom: 30px;
        hr{
            border: 1px solid var(--brand-color);
            width: 90%;
        }
        .window a{
            margin-left: 80%;
            margin-top: 5px;
            font-size: 1.3rem;
            color: var(--brand-color);
        }
    }
    .container-text{
        font-size: 1rem;
        color: black;
        text-align: center;
        padding-left: 20px;
        padding-right:20px;
        margin-top:5px;
    }

}
 
.animation {
    animation-name: run;
    animation-duration: 2s;
    
}

@keyframes run {
    0% {

      transform: translateY(-100px);
    }
    100% {
      
      transform: translateY(0px);
    }
}

@media screen and (max-width: 768px){
    .descrp{
        width: 80%;
        height: fit-content;
    }
}

@media screen and (max-width: 400px){
    .descrp{
        width: 80%;
        height: fit-content
    }
}

@media screen and (max-width: 300px){
    .descrp{
        width: 80%;
        height: fit-content;
    }
}
