@import '../../../styles.scss';

img{
    padding-top: 50px;
}
.container-data{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top:40px;
    .container-inicio {
        border-right: 1px solid black;
    }
}
.container-data a{
    font-size:1.3rem;
    margin:15px;
    
}
