
<div class="main-container-forms">
    <div>
       <a class= "logo" routerLink="/welcome"> <img src="assets/img/logo.png" ></a>
    </div>

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class ="form-group">
            <input type="text" name="user_name" class="form-control"  placeholder="Nombre de usuario" [(ngModel)]="user.user_name" #user_name="ngModel" [ngClass]="{'is-invalid':userForm.submitted && user_name.invalid}" required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && user_name.invalid && user_name.touched">
                <p *ngIf="user_name.errors.required"> El nombre de usuario es obligatorio</p>
            </div>
        </div>
        <div class ="form-group"> 
            <input type="password" name="password" class="form-control"  placeholder="Ingresa tu contraseña" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{'is-invalid':userForm.submitted && password.invalid}" minlength="8" required>
            <div *ngIf="userForm.submitted && password.invalid && password.touched" class="invalid-feedback">
                <div *ngIf="password.errors.required">La contraseña es obligatoria</div>
                <div *ngIf="password.errors.minlength">La contraseña debe tener al menos 8 caracteres</div>
                
            </div>
            <small *ngIf="logIn" class="text-danger">Usuario o contraseña incorrectas</small>
        </div>

        <div class="form-group">
            <button type="submit">Iniciar sesión</button>
        </div>
        <br>
        <br>
        <br>
        <div class="container-links">
            <div class ="icon-google">
                <i class="fab fa-google"></i><a> Inicia sesión con Google</a>
            </div>
        </div>
        <br>
        <br>
        <hr>


    </form>

     
    <div class = "container-register">
        <a (click)="show()">¿Has olvidado la contraseña?</a>
    </div>
</div>

<div class="profile-edit" >
    <div class="edit" id="edit-profile" [ngClass]= "{'animation': animation == true}"  >
        <div>
            <div class="header-title">
                <p>Introduce tu email</p>
                <hr>
            </div>
        </div>
        <div class="text">
            <div>
                <div class="">
                    <input type="text" placeholder="Email">
                </div>
            </div>
            <div>
                <div class="">
                    <button (click)="show()"> Enviar</button>
                </div>
            </div>
        </div>
        <div>Comprueba tu email!</div>
    </div>
</div>