<div class="main-container-forms">
    <div>
        <img src="assets/img/logo.png" class= "logo">
    </div>
    <form  novalidate>
        <div class="form-group">
            <div>
                <input type="text" name="user_name" required  placeholder="Nombre de usuario">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="password" required  placeholder="Contraseña">
            </div>
        </div>
        <button>Iniciar sesión</button>
        <br>
        <br>
        <br>
        <div class="container-links">
            <div class ="icon-facebook">
                <i class="fab fa-facebook"></i><a href="#">  Inicia sesión con Facebook</a>
            </div>
            <br>
            <div class ="icon-google">
                <i class="fab fa-google"></i><a href="#">  Inicia sesión con Google</a>
            </div>
        </div>
        <br>
        <br>
        <hr>
    </form>
    <div class = "container-register">
        <a href="#" >¿Has olvidado la contraseña?</a>
    </div>
</div>




