.container-register a{
    color: grey;
    font-size:12px;
    padding-bottom: 25px;
}

.container-links{
    color: black;
}

.main-container-forms {
    button  {
        background-color: black;
        
    }
   

}
a:hover {
    opacity: 0.8 !important;
   
}

.profile-edit > .edit{
    visibility: hidden;
    height: fit-content;
    padding-bottom: 40px;
    width: 400px;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1; 
    background-color: #9ddac9;
    transition: opacity .24s ease-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center             ;
    .header-title {
        padding: 10px;
        text-align: center;
        hr {
            width: 90%;
            color: var(--brand-color);
            border: 1px solid var(--brand-color);
            justify-content: left;
        }
    }
    .text {
        display: flex;
        justify-content: center;
        input {
            width: 90%;
        }
        button {
            width: 160%;

        }

    }
    div:nth-child(3) {
        padding-top: 20px;
        text-align: center;
    }
}  



