<div class="main-container-forms">
    <div>
    <a routerLink="/welcome"><img src="assets/img/logo.png" class= "logo"></a>
    </div>

    <form [formGroup]="forma" (ngSubmit)="save(forma)">      
        <div class="form-group">
            <div>
                <input type="text" placeholder="Nombre de usuario" formControlName="user_name" [class.is-invalid]="invalidName">
                <small *ngIf="invalidName">Ingrese un nombre de ususario</small>
            </div>
        </div>
        <div class="form-group">
            <input type="email" placeholder="Correo electrónico" formControlName="email" [class.is-invalid]="invalidEmail">
            <small *ngIf="invalidName" >Ingrese un correo válido</small>
        </div>
        <div class="form-group">
            <div>
                <input type="password" placeholder="Contraseña" formControlName="password" [class.is-invalid]="invalidPassword">
                <small *ngIf="invalidName" >Ingrese un mínimo de 8 caracteres</small>
            </div>
            <small *ngIf="regis" class="text-danger">Email ya registrado</small>
        </div>

        <button type= "submit">Registrarse</button>
    </form>
    <br>
    <div class="container-links">
        <div class ="icon-facebook">
            <i class="fab fa-facebook"></i><a (click)="registerSocial('facebook')" href="#">  Inicia sesión con Facebook</a>
        </div>
        <br>
        <div class ="icon-google">
            <i class="fab fa-google"></i><a (click)="registerSocial('google')">  Inicia sesión con Google</a>
        </div>
    </div>
</div>

