<div class="profileUser" style="font-size:4.2vw">
    <div class = "userPic">
      <img src="https://scontent.fmad7-1.fna.fbcdn.net/v/t1.0-9/27066823_1745957212093621_7704124701866020160_n.jpg?_nc_cat=105&_nc_sid=174925&_nc_ohc=Z2eAOLGBZucAX_eqg76&_nc_ht=scontent.fmad7-1.fna&oh=a21d290deb9c437d8438df939d9554d7&oe=5F7239AB" alt="Foto de perfil" >
    </div>
         <div>
             user_name
         </div>
         <div class="foll">
             <a>Followers</a>
             <a>Follow</a>
         </div>
         <div>Gorritos</div>
</div>
<hr>
<div>
 <p style="text-align: center;font-size:3.2vw">Favoritos</p>
 <div class="favRecipe" >
     <div>
         <img src="https://okdiario.com/img/recetas/2017/02/03/hummus-de-berenjenas.jpg" alt="Hummus de hummus de berenjenas" class = "recipePic">
         <p class="comment">Comentarios (34)</p>
     </div>
     <div class="receta">
         <div>
             <h6>Hummus de Berenjena</h6 >
         </div>
             <div class="userFavRecipe">
                 <img src="https://scontent.fmad7-1.fna.fbcdn.net/v/t1.0-9/12141567_1053647777991238_4687023364676146473_n.jpg?_nc_cat=107&_nc_sid=19026a&_nc_ohc=OVlgPUUgevwAX98cqnm&_nc_ht=scontent.fmad7-1.fna&oh=c15c0267758d33cf80d0d7f1deca0dfd&oe=5F71D105" alt="user picture"  >
                 <div class="profileOther">
                     <a>User123</a>
                     <a>Gorritos</a>
                 </div>
             </div>
             <div>
                 <p>Comenzamos precalentando el horno a 180 grados. Cortar rodajas de berenjenas y colocarlas en una fuente de horno previamente engrasada con un poco de aceite de oliva. Pinchar las rodajas de berenjenas con el tenedor. Hornear durante 40 minutos o hasta que estén tiernas
                 </p>
                 <a rel="stylesheet" href="" class="moreInfo"><u>  Ver más</u></a>
             </div>
     </div>
 </div>
 <div class="favRecipe">
     <div>
         <img src="https://www.hola.com/imagenes/cocina/recetas/2017062296209/receta-gazpacho-andaluz/0-462-973/gazpacho-andaluz-m.jpg" alt="Gazpacho andaluz" class = "recipePic">
         <p class="comment">Comentarios (81)</p>
     </div>
     <div class="receta" >
         <div>
             <h6>Gazpacho Andaluz</h6 >
         </div>
             <div class="userFavRecipe">
                 <img src="https://scontent.fmad7-1.fna.fbcdn.net/v/t31.0-8/10572264_858538277502190_7491354425887376293_o.jpg?_nc_cat=102&_nc_sid=174925&_nc_ohc=KSo-E0bg1OcAX9_Dfwh&_nc_ht=scontent.fmad7-1.fna&oh=39c6c625bad00a1f5ac07339164d93f8&oe=5F725051" alt="user picture" class="userFavRecipe"  >
                 <div >
                     <a>User_54</a>
                     <a>Gorritos</a>
                 </div>
             </div>
             <div>
                 <p>Troceamos todos los ingredientes indicados en la proporción que os he puesto y añadimos 50 ml de aceite de oliva, 250 ml de agua de la nevera y 50 ml de vinagre de Jerez, triturando todo en la batidora de vaso.</p>
                 <a rel="stylesheet" href="" class="moreInfo"><u>  Ver más</u>
                 </a>
             </div>
     </div>
 </div>
</div>