<div class="main-container">
 
    <div class="header-title">
        <p>Buscar receta</p>
    </div>

   <form novalidate>
        <div class="form-group" >
            <div class="fields">
                <input type="text" name="ingredient" required placeholder="Ingrediente" #ingredient>
            </div>    
            <button id="btn-ingredients" class="btn-ingredients" (click)="showInput(ingredient.value)">+</button>
        </div>
        

        <div class="form-group ingredients" *ngFor ="ingredient of ingredients, let i=index">
          <div class="fields">
              <input type="text" name="ingredient" required placeholder="Ingrediente" #ingredient>
              <button id="btn-ingredients" class="btn-ingredients" (click)="showInput(ingredient.value)">+</button>
             
          </div>  
          
      </div>

      <div class="form-group">
            <div class="btn-group">
                <button (click) ="valueDificulty('Vegano')"  >Vegano</button>
                <button  (click) ="valueDificulty('Saludable')" >Saludable</button>
                <button  (click) ="valueDificulty('Picoteo')">Picoteo</button>
                <button  (click) ="valueDificulty('Postres')" >Postres</button>
            </div>
        </div>

        <button type="button" (click)="searchRecipes()">Buscar</button>
  </form>
    

    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item" [class.active] = "isFirst" *ngFor="let recipe of recipes; first as isFirst"> 
          <a routerLink="/recipe/0"><img [src]="recipe.picture" class="d-block w-100 photo" [alt]="recipe.name"></a>
          <div class="text">
            <p>{{recipe.title}}<p>
          </div>
  
        </div>  

      </div>

      <a class="carousel-control-prev control" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span    class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span  class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next control" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Proxima</span>
      </a>
    </div>
</div>
