<div class="main-container">
    <div class="header-title">
        <p>Buscar receta</p>
    </div>

   <form  novalidate>
        <div class="form-group">
            <div class="fields">
                <input type="text" name="ingredient" required placeholder="Ingrediente" #ingredient>
            </div>    
            <button class="btn-ingredients" (click)="showInput(ingredient.value)">Add other</button>
        </div>
        

        <div class="form-group" *ngFor ="ingredient of ingredients, let i=index">
          <div class="fields">
              <input type="text" name="ingredient" required placeholder="Ingrediente" #ingredient>
              
          </div>  
          <button class="btn-ingredients" [ngClass]="{'hide': count == 4}" (click)="showInput(ingredient.value)">Añadir otro</button>
      </div>
   

        <div class="form-group">
            <div class="btn-group">
                <button class = "badge badge-pill badge-primary" >Vegano</button>
                <button>Saludable</button>
                <button>Picoteo</button>
                <button>Postres</button>
            </div>
        </div>

        <button>Buscar</button>
    </form>
    

    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item" [class.active] = "isFirst" *ngFor="let recipe of recipes; first as isFirst"> 
          <img [src]="recipe.img" class="d-block w-100 photo" [alt]="recipe.name">
          <div class="text">
            <p>{{recipe.name}}<p>
          </div>
  
        </div>

  

      </div>

      <a class="carousel-control-prev control" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span    class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span  class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next control" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Proxima</span>
      </a>
    </div>
</div>
