@import '../../../styles.scss';

$size: 1100px;
$size2: 800px;
$size3: 1200px;

.main-container {
    width: 90%;
    @include display-flex(flex, column , center, center);
    padding-top: 40px;
    margin: 0 auto;
    form {
        padding-bottom: 20px;
        text-align: center;
        width: inherit;
        padding-top: 30px;
        @include size($size) {
            width: 65%;
        }
        @include size($size3) {
            width: 55%;
        }
        .form-group .fields{
            display: inline-block;
        }
        .btn-ingredients {
            display: inline-block;
            width:10% !important;

        }
        input {
            width: 80%;
        }
        .header-title {
            padding: 10px 0px;
        }
        .btn-group {
            width: 100%;
             button:nth-child(n+2) {
                 margin-left: 3px;
            }  
        }
    }
    .carousel {
        width: 65%; 
        @include size-max($size) {
            width: 90%;
        }
        @include size($size3) {
            width: 55%;
        }
        .carousel-inner {
            width: 100%;
            p:first-child {
                font-size: 1.5rem; 
                font-weight: bold;
                position: relative;
            }    
            .carousel-item {
                position: relative;
                z-index: 0;
                img {
                    background-size: cover;
                    width: inherit;
                    height: 47vh;
                    position: relative;
                    z-index: -1;
                    @include size-max($size2) {
                        height: 40vh;
                    }
                }
                .text {
                    text-align: center;
                    p:first-child{
                        font-size: 1.3rem;
                    }
                    @include size-max($size2) {
                       position: relative;
                       background-color: white;
                       opacity: 1;
                       text-align: left;
                        margin-left: 0;
                        padding-left: 0px;
                    }
                }
                
            }
        }
    }  
}

.hide {
    display: hidden;
}