@import '../../../styles.scss';

$size: 1100px;
$size2: 800px;
$size3: 1200px;

.main-container {
    width: 90%;
    @include display-flex(flex, column , center, center);
    padding-top: 25px;
    margin: 0 auto;
    form {
        padding-bottom: 20px;
        text-align: center;
        width: inherit;
        padding-top: 30px;
        @include size($size) {
            width: 65%;
        }
        @include size($size3) {
            width: 55%;
        }
        .ingredients{
            margin-left: -40px;
        }
        .form-group .fields{
            display: inline-block;
        }
        .btn-ingredients {
            display: inline-block;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        input {
            width: 80%;
        }
        .header-title {
            padding: 10px 0px;
        }
        .btn-group {
            width: 100%;
            button {
            background-color:white;
            border: 1px solid var(--brand-color);
            height: 50px !important;
            height: auto;
            color:var(--brand-color);
            font-weight: bold;
                &:focus{
                    background-color: var(--brand-color); 
                    color: white;
                    
                }
                :hover {
                    cursor: pointer;

                }
            }
             button {
                 margin-left: 3px;
                 
            }  
        }
     
    }

    .carousel {
        width: 65%; 
        @include size-max($size) {
            width: 90%;
        }
        @include size($size3) {
            width: 55%;
        }
        .carousel-inner {
            width: 100%;
            p:first-child {
                font-size: 1.5rem; 
                font-weight: bold;
                position: relative;
            }    
            .carousel-item {
                position: relative;
                z-index: 0;
                &:hover {
                    opacity: 0.9;
                }
                img {
                    background-size: cover;
                    width: inherit;
                    height: 47vh;
                    position: relative;
                    z-index: -1;
                    @include size-max($size2) {
                        height: 40vh;
                    }
                }
                .text {
                    text-align: center;
                    padding-top: 20px;
                    p:first-child{
                        font-size: 1.3rem;
                    }
                    
                }
                
            }
        }
    }  
}


.radio-group {
    padding-top: 40px;
    p {
        font-size: 1.2rem;
    }
    .food,
    .dificulty {
       display: flex;
       justify-content: space-evenly;
        width: 100%;   
    }
    .food {
        .outer-circle-left,
        .outer-circle-right{
            left: 12px;     
        }
        .outer-circle-middle{
            left: 18px; 
        }
    }
    .dificulty {
        .outer-circle-left,
        .outer-circle-right{
            left: 5px !important;     
        }
        .outer-circle-middle{
            left: 8px; 
        }
        
    }

}
