<app-nav-bar></app-nav-bar>
 <div class="main-container" >
 
    <div class="header-title">
        <p>Buscar receta</p>
    </div>

   <form #form="ngForm">
      <div><p>Ingredientes</p></div>
        <ng-select class ="dropdown" bindLabel ="ingredients" bindValue="id" [multiple]="true"  maxSelectedItems ="5" (add)="onAdd($event)" (remove)="onRemove($event)">
          <div>  
            <ng-option class ="dropdown" *ngFor ="let ingredients of this.ingredients" bindLabel="ingredients.name" (add)=" (ingredients.name)" (remove)="onRemove(ingredients.name)">{{ingredients.name}}</ng-option>
        </div>
        </ng-select>
          

      <div class="radio-group" required>
        <div><p>Tipo de comida</p></div>

        <div class="food" >
            <label>
                <input name="radio-group" type="radio" value="Vegana" ngModel (click)="valueFood('Vegana')" #vegana>Vegana
                <span class="outer-circle-left"></span>
            </label>   
            <label> 
                <input name="radio-group" type="radio"  value="Saludable" ngModel (click)="valueFood('Saludable')" #saludable>Saludable 
                <span class="outer-circle-middle"></span>
            </label>
            
            <label>
                <input name="radio-group" type="radio" value="Picoteo" ngModel (click)="valueFood('Picoteo')" #picoteo >Picoteo
                <span class="outer-circle-right"></span>
            </label>
            <label>
                <input  name="radio-group" type="radio" value="Postres" ngModel (click)="valueFood('Postres')" #postres>Postres
                <span class="outer-circle-right"></span>
            </label>
        </div>
    </div>
        <button (click) ="searchRecipes(form)">Buscar</button>
  </form>
    

    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item" [class.active] = "isFirst" *ngFor="let recipe of recipes; first as isFirst"> 
          <a (click)="showRecipeCarrousel(recipe.recipe_id)"><img [src]="recipe.picture" class="d-block w-100 photo" [alt]="recipe.name"></a>
          <div class="text">
            <p>{{recipe.title}}<p>
          </div>
  
        </div>  

      </div>

      <a class="carousel-control-prev control" href="next" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next control" href="next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Proxima</span>
      </a>
    </div>
</div>
