<div class="mainContainer">
    <div class="profileUser">       
        <div class=img-profile>
            <img [src]="profile.picture" alt="profile.user_name" >
        </div>
        <div class="user-name">
          <p>{{profile.user_name}}</p>
        </div>
        <div class="followers-number">
            <div class="followers">
                <a routerLink="/followers">Seguidores (3)</a>
            </div>
            <div class="followed">
                <a routerLink="/followers">Seguidos (19)</a>
            </div>
        </div>
    </div>
<hr>
 <div>
    <ul class="categories justify-content-center ">
        <li class="nav-item">
          <a  routerLink="/userRecipes">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a  routerLink="/userFavorites">Favoritos</a>
        </li>
        <li class="nav-item">
            <a class="activa">Mis Clases</a>
        </li>
    </ul>
     <div class="favRecipe" *ngFor="let lesson of lessons; let i = index">
         <div>
             <img src="{{lesson.image}}" class = "recipePic" alt="Galletas de limon">
        </div>
         <div class="receta">
             <div>
                 <h6>{{lesson.title}}</h6 >
                
            </div>
                 <div>
                     <p>{{lesson.description}}
                     </p>
                     <div class="more">
                        <button (click)="showLesson(lesson.lesson_id)"  class="moreInfo">Ver más...</button>
                    </div>
                 </div>
         </div>
     </div>

 </div>
</div>












