<div class="main-container-forms">
    <div class="header-title">
        <p>Publicar receta</p>
    </div>

    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="fields">
                <input type="text" name="titulo" placeholder="Titulo" formControlName="titulo" [class.is-invalid]= "formNoValidTitle">
                <small *ngIf="formNoValidTitle" class="text-danger">Ingresa un titulo con al menos 5 letras</small>
            </div>
        </div>
        <div class="form-group dropdown-ingredients">
            <select formControlName="ingredientes" multiple>
               
                <option *ngFor="let ingredient of ingredients" (click) ="valueIngredient(ingredient.name)" [class.is-invalid]="formNoValidIngredients">{{ingredient.name}} </option>
                <small *ngIf="formNoValidIngredients" class="text-danger">Añade los ingredientes</small>
            </select>
        </div>
        <div class="radio-group">
            <div>Tipo de comida</div>

            <div class="food">
                <label>
                    <input type="radio" formControlName="comida"   value="vegana" (click) ="valueFood(vegana)" #vegana>Vegana
                    <span class="outer-circle-left"></span>
                </label>   
                <label> 
                    <input type="radio" formControlName="comida"   value="saludable" (click) ="valueFood(saludable)" #saludable>Saludable 
                    <span class="outer-circle-middle"></span>
                </label>
                
                <label>
                    <input type="radio" formControlName="comida"  value="picoteo" (click) ="valueFood(picoteo)" #picoteo>Picoteo
                    <span class="outer-circle-right"></span>
                </label>
                <label>
                    <input type="radio" formControlName="comida"  value="postres" (click) ="valueFood(postres.value)" #postres>Postres
                    <span class="outer-circle-right"></span>
                </label>
            </div>
       
            
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="duracion" placeholder="Duración" formControlName="duracion"[class.is-invalid]="formNoValidTime">
                <small *ngIf="formNoValidTime" class="text-danger">Introduce la duración</small>
            </div>
        </div>
        <div class="radio-group">

            <div>Dificultad</div>
            <div class="dificulty">
                <label>
                    <input type="radio" formControlName="dificultad"   value="facil" (click) ="valueDificulty(facil)" #facil> Fácil
                    <span class="outer-circle-left"></span>
                </label>   
                <label> 
                    <input type="radio" formControlName="dificultad"   value="media" (click) ="valueDificulty(media)" #media>Media 
                    <span class="outer-circle-middle"></span>
                </label>
                <label>
                    <input type="radio" formControlName="dificultad"  value="dificil" (click) ="valueDificulty(dificil)" #dificil>Difícil
                    <span class="outer-circle-right"></span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="textarea">
                <textarea type="textarea" name="descripcion"  placeholder="Descripción" formControlName="descripcion" [class.is-invalid]="formNoValidDescription"></textarea>
                <small *ngIf="formNoValidDescription" class="text-danger">Añade una descripción de mínimo 20 caracteres</small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="foto" placeholder="Foto" formControlName="foto"[class.is-invalid]="formNoValidPhoto">
                <small *ngIf="formNoValidPhoto" class="text-danger">Añade una foto</small>
            </div>
        </div>
        <button>Publicar</button>
    </form>
</div>
<div class="descrp" id="sucess" [ngClass]= "{'animation': animation == true}">
    <div class="header-title">
        <div class="window">
            <a (click)="show()">X</a>
        </div>
        <p>Cook Book</p>
        <hr>
       <div class ="container-text">
            <p>Tu receta se ha publicado! Ya la puedes ver en tu página de usuario </p>
        </div>
    </div>
</div>