<div class="main-container-forms">
    <div class="header-title">
        <p>Publicar receta</p>
    </div>
   <form  novalidate>
        <div class="form-group">
            <div class="fields">
                <input type="text" name="titulo" minlength="3" required placeholder="Titulo">
            </div>    
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="ingredientes" required  placeholder="Introduzca los ingredientes">
            </div>    
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="duracion" required  placeholder="Duración">
            </div>    
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="dificultad" required  placeholder="Dificultad">
            </div>    
        </div>

        <div class="form-group">
            <div class="btn-group">
                <button>Vegano</button>
                <button>Saludable</button>
                <button>Picoteo</button>
                <button>Postres</button>
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="textarea" name="descripcion" required  placeholder="Descripción">
            </div>    
        </div>

        <div class="form-group">
            <div>
                <input type="text" name="foto"  required  placeholder="foto">
            </div>    
        </div>

        <button>Publicar</button>

    </form>
</div>
