<app-nav-bar></app-nav-bar>
 <div class="arrow">
    <a (click)="goBack()"><svg  style="width:350px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>
        <path  style="fill:#40b3a2"d="M492,236H68.442l70.164-69.824c7.829-7.792,7.859-20.455,0.067-28.284c-7.792-7.83-20.456-7.859-28.285-0.068
          l-104.504,104c-0.007,0.006-0.012,0.013-0.018,0.019c-7.809,7.792-7.834,20.496-0.002,28.314c0.007,0.006,0.012,0.013,0.018,0.019
          l104.504,104c7.828,7.79,20.492,7.763,28.285-0.068c7.792-7.829,7.762-20.492-0.067-28.284L68.442,276H492
          c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></a>
</div>
<div class="container">
    {{test}}
  
    <div class ="header-title">
        <p class="animated fadeIn Fast header-title">Sugerencias del chef</p>
        <hr>
    </div>
    <div *ngIf = "resultRecipes.length === 0" >
        <br>
        <p style="text-align: center;">¡No hay recetas que coincidan con tu búsqueda!</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4" *ngFor="let recipe of resultRecipes; let i = index">
            <div class="card animated fadeIn fast" >
               
               <a (click)="showRecipe(recipe.recipe_id)" ><img [src]="recipe.picture"  class="card-img-top" [alt]="recipe.name"></a> 
                <div class="card-body">
                    <p class="card-title">{{recipe.title}}</p>
                   
                     
                    <p class="card-text"><br>
                        
                        <i class="far fa-clock"></i> {{ recipe.duration }} -                   
                        <i class="fas fa-info-circle"></i> {{ recipe.dificulty}} 
                       
                    </p>
                   
                </div>
            </div>
            <hr>
        </div>
        
    </div>
   
</div>
