:root {
    --main-color: black; 
    --brand-color: #5aa9ff; 
}

$size:800px;
$size2: 1200px;

@mixin size ($val) {
    @media screen and (min-width: #{$val}){
        @content;
    }
}

@mixin size-max ($val) {
    @media screen and (max-width: #{$val}){
        @content;
    }
}

.header-title {
    font-size: 1.4rem;
}

@mixin display-flex($display, $flex-direction, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.main-container-forms {
    @include display-flex(flex, column , center, center);
    padding-top: 40px;
    form {
        text-align: center;
        width: 70%;
        padding-top: 50px;
        @include size($size) {
            width: 45%;
        }
        @include size($size2) {
            width: 35%;
        }
        input {
            width: 100%;
        }
    }
}

a {
    color: var(--brand-color);
    text-decoration: none !important;
    &:hover {
        cursor: pointer;
        color: black;
    }
}

.button,
button {
    background-color: var(--brand-color);
    border: none;
    width: 100%;
    color: white;
    padding: 10px 0px;
    font-size: 0.9rem;
    transition: opacity 0.4s;
    &:hover {
        opacity: 0.9;
    }

}

input {
    background: -webkit-linear-gradient(top left, #E8E5E1, #D2D0D3);
    background: -moz-linear-gradient(top left, #E8E5E1, #D2D0D3);
    background: linear-gradient(to bottom right, #E8E5E1, #D2D0D3);
    border:none;
    padding: 20px 100px 20px 20px;
    font-size: 0.9rem;
   
}
