:root {
    --main-color: black; 
    --brand-color: #5aa9ff; 

}

@mixin display-flex($display, $flex-direction, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

a {
    color: var(--brand-color);
    text-decoration: none !important;
    &:hover {
        cursor: pointer;
    }
}

.button,
button {
    background-color: var(--brand-color);
    border: none;
    width: 100%;
    color: white;
    padding: 10px 0px;
    font-size: 0.9rem;
    transition: opacity 0.4s;
    &:hover {
        opacity: 0.9;
    }

}

input {
    background: -webkit-linear-gradient(top left, #E8E5E1, #D2D0D3);
    background: -moz-linear-gradient(top left, #E8E5E1, #D2D0D3);
    background: linear-gradient(to bottom right, #E8E5E1, #D2D0D3);
    border:none;
    padding: 20px 100px 20px 20px;
    font-size: 0.9rem;
   
}
