:root {
    --main-color: black;
    --brand-color: #40B3A2;
}

// media queries
$size:800px;
$size2: 1200px;
@mixin size ($val) {
    @media screen and (min-width: #{$val}){
        @content;
    }
}
@mixin size-max ($val) {
    @media screen and (max-width: #{$val}){
        @content;
    }
}
.header-title {
    font-size: 2rem;
    text-align: center;
}
@mixin display-flex($display, $flex-direction, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.main-container-forms {
    @include display-flex(flex, column , center, center);
    padding-top: 40px;
    form {
        text-align: center;
        width: 70%;
        padding-top: 50px;
        @include size($size) {
            width: 45%;
        }
        @include size($size2) {
            width: 35%;
        }
        input {
            width: 100%;
        }
    }
}

// style for links
a {
    color: black;
    text-decoration: none !important;
    &:hover {
        cursor: pointer;
        color:  var(--brand-color);
    }
}

// style for buttons
.button,
button {
    background-color: var(--brand-color);
    border: none;
    width: 100%;
    color: white;
    padding: 10px 0px;
    font-size: 0.9rem;
    transition: opacity 0.4s;
    &:hover {
        opacity: 0.9;
    }
    &:focus {
        outline:0 !important;;
    }
}

// style for forms
input,
textarea,
select {
    background: -webkit-linear-gradient(top left, #E8E5E1, #D2D0D3);
    background: -moz-linear-gradient(top left, #E8E5E1, #D2D0D3);
    background: linear-gradient(to bottom right, #E8E5E1, #D2D0D3);
    border:none;
    padding: 10px 100px 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    &:focus {
        outline-color: var(--brand-color) !important;
    }
}
select {
    color:grey;
}

// style for icons
.icon {
    display: flex;
    justify-content: center;
    svg {
        height: 20px ;
        padding-left: 10px;
        margin-bottom: 5px;
    }
}
.arrow svg  {
    width: 20px !important;
    fill:  var(--brand-hover);
    transition: transform 1s ease;
    margin-left: 30px;
    &:hover {
        transform: scale(1.2);
    }
}


// radio-buttons
.radio-group {
    display: flex;
    justify-content: space-around;   
    align-items: center;
    text-align: left;
    font-size: 0.8rem;
    div:nth-child(1) {
        padding-bottom: 10px;   
    }
    label {
        display: inline-block;
        position:relative;
        padding-bottom: 10px;       
        input {
            display: block;
            margin-bottom: 10px;   
            visibility: hidden;            
        }
        :hover {
            cursor: pointer;
        }   
    }
}

span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--brand-color);
    display: block;
    position: absolute;
    top: -4px;
    right:0;
    bottom: 0;
    margin-right: 30px;
    &:after {
        content: "";
        height: 11px;
        width: 11px;
        background: var(--brand-color);
        background-color: var(--brand-color);
        top: 50%;
        position: absolute;    
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        transition: 300ms ease 0s;
    }   
}

input:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
   }

// animations
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .fast {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    animation-name: fadeIn;
  }
.animation {
    animation-name: run;
    animation-duration: 2s;
}
@keyframes run {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
    }
}