@import '../../../styles.scss';


.mainContainer{
    padding: 25px;  
}
.profileUser{
    padding: 0px 0px;
    text-align: center;
    .user-name {
        font-size: 1.5rem;

    }
    .img-profile {
        padding-bottom: 8px;
    }
    img {
        border-radius: 100%;
        width: 130px;  
        height: 130px;   
           
    }
    .followers-number {
        justify-content: center;
        padding-bottom: 30px;
        display: grid;
        grid-template-rows: 0fr 0fr;
        grid-template-areas: 
        "followers followed";
        .followers {
            grid-area: followers;
            text-align: center;
            
        }
        .followed {
            grid-area: followed;
            padding-left: 50px;
        }
    
    }
  
   
}
.categories {
    display: flex;
    list-style-type: none;
    a {
        font-size: 1.3rem;
        padding-bottom: 30px;
        &:nth-child(1){
            padding-right: 40px;
        }
    }
}

.activa{
    color:var(--brand-color) !important;
 }
hr{
    margin-top: 0;
    margin-bottom: 5px;
    width: 80%;
}
.favRecipe{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
    padding: 4% 20px 4px 10px;
        .recipePic{
            width:100%;
        }
        .comment{
            font-size: 0.9rem;
            text-align:center;
            padding-top: 10px;
        }
        .receta{
            font-size:1rem;
            display: flex;
            flex-direction: column;  
            h6{
               font-size:1.1rem;
               font-weight: bold;
               display: inline-block;
            }
            svg{
                height: 20px;
                margin-bottom: 5px;
                display: inline-block;
                padding-left:10px;
                padding-right: 10px;
                fill: white;
            }
            p{
                font-size:1rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            
        }
        .more {
            text-align: right;
            
        }
        .moreInfo{
            font-size:inherit;
            color: white;   
            width: 100px;     
            
            
        }
   }

   .button-recipes {
        display: flex;
        justify-content: space-between;
   }
   @media screen and (min-width: 1250px) {
    .favRecipe{
        display:grid;
        grid-template-columns: 40% 60% ;
        grid-gap: 0px ;
        align-items: flex-start;
        padding: 10px;
        margin-top: 5%;
        padding-bottom: 4px;
            .recipePic{
                width:70% !important;
                padding-right: 10px;
                margin-left: 20%;
            }
            .receta{
                justify-content: center;
            }
        }
 }


 
 @media screen and (min-width: 786px){
     .favRecipe{
     margin-left: 10%;
     margin-right: 10%;
     }
     .receta{
        p{
            -webkit-line-clamp: 7 !important;
        }
    }
 }
 @media screen and (max-width: 400px){
    .nav {padding: 0 0 0 0%;
        a {
            font-size: 1.1rem;
            text-align: center ;
            &:nth-child(1){
                padding-right: 11px;
                padding-left: 11px;
            }
        }
    }
    
    .favRecipe{
        display:grid;
        grid-template-columns: 100% ;
        padding: 30px;
            .recipePic{
                width:80%;
                margin-left: 10%;
            }
        }
 }

 // popup delete
 .descrp{
    visibility: hidden;
    height: 300px;
    width: 400px;
    bottom: 0;
    top:0;
    background-color: #9ddac9;
    transition: opacity .24s ease-out;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;

    .header-title{
        font-size: 2rem;
        color: black;
        margin-top: 5px;
        padding-bottom: 30px;
        hr{
            border: 1px solid var(--brand-color);
            width: 90%;
        }
        .window a{
            margin-left: 80%;
            margin-top: 5px;
            font-size: 1.3rem;
            color: var(--brand-color);
        }
    }
    .container-text{
        font-size: 1rem;
        color: black;
        text-align: center;
        padding-left: 20px;
        padding-right:20px;
        margin-top:5px;
    }
    .container-data {
        display: flex;
        justify-content:  space-around;
        a {
            padding: 10px 20px;
            transition: opacity .9s ease-out;
        }
        :hover {
            color: black;
            opacity: 0.9;
        }
    }

}

.animation {
    animation-name: run;
    animation-duration: 2s;
    
}









