<div class="mainContainer">
    <div class="profileUser">
        <div class = "userPic">
          <img src="https://scontent.fmad7-1.fna.fbcdn.net/v/t1.0-9/27066823_1745957212093621_7704124701866020160_n.jpg?_nc_cat=105&_nc_sid=174925&_nc_ohc=Z2eAOLGBZucAX_eqg76&_nc_ht=scontent.fmad7-1.fna&oh=a21d290deb9c437d8438df939d9554d7&oe=5F7239AB" alt="Foto de perfil" >
        </div>
             <div>
                 user_name
             </div>
             <div class="foll">
                 <a>Followers</a>
                 <a>Follow</a>
             </div>
             <div>Gorritos</div>
 </div>
<hr>
 <div>
     <p style="text-align: center;font-size:3.2vw"> Publicaciones</p>
     <div class="favRecipe" >
         <div>
             <img src="../../../assets/img/sushi.jpeg" class = "recipePic" alt="Calabacitas Asadas">
             <p class="comment">Comentarios (24)</p>
         </div>
         <div class="receta">
             <div>
                 <h6>Calabacitas Asadas con Queso de Cabra</h6 >
             </div>
                     <div >
                         <a class="hat">Gorritos</a>
                     </div>
                 <div>
                     <p>Precaliente la parrilla, o un sartén de parrilla a temperatura media.
                        Corte los bordes de las calabacitas y barnice las rebanadas de calabacitas con aceite de oliva. Espolvoree con sal y pimienta.
                        Ponga en la parrilla unos 4 minutos por lado hasta que esté suave.
                        En un recipiente ponga el queso de cabra, el perejil, el limón y mezcle con un tenedor.
                        Ponga 1/2 cucharadita de la mezcla de queso como a 2 cms del borde de la rebanada de calabacita. Ponga encima hojas de espinaca y una hoja de albahaca chica.
                     </p>
                     <a rel="stylesheet" href="" class="moreInfo" ><u>  Ver más</u></a>
                 </div>
         </div>
     </div>
     <div class="favRecipe">
         <div>
             <img src="../../../assets/img/sushi.jpeg" alt="Tapas con chorizo" class = "recipePic">
             <p class="comment">Comentarios (13)</p>
         </div>
         <div class="receta">
             <div>
                 <h6 >Tapas con Chorizo</h6 >
             </div>
             <div>
                <a class="hat">Gorritos</a>
            </div>
                 <div>
                     <p>En la encima extendemos la lámina de hojaldres, y colocando un vaso encima cortaremos trozos circulares.
                        Cortamos el chorizo en rodajas de un grosor medio, o también puedes utilizar la carne interna de un chorizo tierno, y los colocaremos en el interior del hojaldre, envolviéndolo.
                        Poned el horno en marcha a 200º C para tenerlo listo en unos minutos.
                        Batimos bien el huevo con un poquito de sal y lo usaremos para pintar cada hojaldre por fuera.
                        Freímos los huevos de codorniz muy poquito, lo justo para poder ponerla encima del chorizo.
                        Colocamos papel antiadherente en la bandeja del hojaldre y los dejamos hornear por un cuarto de hora.</p>
                     <a rel="stylesheet" href="" class="moreInfo"><u>  Ver más</u>
                     </a>
                 </div>
         </div>
     </div>
 </div>
</div>


